<!-- Modal -->
<div class="modal fade" id="add-participant-modal" tabindex="-1" aria-labelledby="add-participant-modal" aria-hidden="true">
    <div class="modal-dialog">
      <form class="modal-content" action="" (ngSubmit)="addParticipant()">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Register User</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <label for="">User</label>
            <select name="user" id="" class="form-select" [(ngModel)]="user">
                <option value="{{user.num}}" *ngFor="let user of users" >{{user.num}}</option>
            </select>
            <label for="">Competition</label>
            <select name="competition" id="" class="form-select" [(ngModel)]="competition">
                <option value="{{competition.code}}" *ngFor="let competition of competitions">{{competition.code}}</option>
            </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
        </div>
    </form>
    </div>
  </div>